# Rust
/target/
**/*.rs.bk
Cargo.lock

# Node & Vitepress Documentation
node_modules/
docs/.vitepress/cache/
docs/.vitepress/dist/

# Env & OS
.env
.DS_Store
docs/.vitepress/.temp

# PDF Exports (Local only)
WHITEPAPER.pdf
